@media screen and (max-width: 1100px){
    header nav{
        width: 100%;
    }
    .about-wrapper .para{
        width: 80%;
    }
    .services-wrapper{
        width: 90%;
    }
    section#contact .contact-wrapper{
        gap: 100px;
    }
}
@media screen and (max-width: 700px){
    .scroll{
        bottom: 20px;
    }
    .menu-option i{
        display: block;
    }
    nav ul{
        position: absolute;
        top:50px;
        left: -100px;
        width: 0;
        height: 100vh;
        background: #07374aab;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s;
    }
}
@media screen and (max-width: 400px){
    header nav{
        width: 100%;
    }
    .about-wrapper .para{
        width: 100%;
    }
    .services-wrapper{
        width: 90%;
    }
    section#contact .contact-wrapper{
        gap: 100px;
    }
    .scroll{
        bottom: 10px;
    }
}